<a href="https://colab.research.google.com/github/Nayarimg/2022_2_FP_D_Nayari-Marin-Granada/blob/main/Ciclos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problema: Ciclos for
#Autor: Grupo 1 dia
#Versión:1.0
#Fecha:15/09/2022

In [ ]:
#Ciclo for 1
for x in range(10):
    print(x)

In [ ]:
#Ciclo for 2
for x in range(3,12): 
    print(x)

In [ ]:
#Ciclo for 3
for i in range(5,505,5):
    print(i)

In [ ]:
#Ciclo for 4
inicio=int(input("Inicio: "))
fin=int(input("Fin: "))
incremento=int(input("Incremento:"))
for i in range(inicio,fin,incremento):
    print(i)

In [ ]:
#Ciclo for 5
tabla = int(input("Cúal tabla desea: "))
for cont in range(11):
    res=tabla*cont
    print(tabla," * ",cont," = ",res)

In [ ]:
#Ciclo for 6- CICLOS SECUENCIALES
#Ciclo para la primera tabla

tabla = int(input("Cúal tabla desea: "))
for cont in range(11):
    res=tabla*cont
    print(tabla," * ",cont," = ",res)
    
#Ciclo para la segunda tabla

tabla = int(input("Cúal tabla desea: "))
for cont in range(11):
    res=tabla*cont
    print(tabla," * ",cont," = ",res)

In [ ]:
#Ciclo for 7- CICLOS ANIDADOS
tabla = int(input("Cúal tabla desea: "))

for conTabla in range(1,tabla+1):
    print("\nT A B L A D E L:",conTabla,"\n")
    for conMdor in range(1,11):
        res=conTabla*conMdor
        print(conTabla," * ",conMdor," = ",res)

In [ ]:
#Ciclo while
x=1    
tabla = int(input("Cúal tabla desea: "))
while x<=10:
    res=tabla*x
    print(tabla," * ",x," = ",res)
    x=x+1

Cúal tabla desea: 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50